*{
    margin:0%;
    padding:0% ;
  
}

#main{
  background-image: url("https://wallpapercave.com/wp/wp5162474.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.nav{
    display: flex;
    /* margin-top: 25px; */
    justify-content: space-between;
}
.first{
    display: flex;
}
.second{
    display: flex;
}
.button{
    background-color: orange;
  color:whitesmoke;
  /* padding: 12px 25px; */
  border: black 1px solid;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  width: 100px;
  margin-left: 700px;
  margin-top: 30px;
}
.head{
    display: flex;
    text-align: center;
    margin-top: 200px;
}
.main{
    display: flex;
    text-align: center;
}