*{
    margin:0%;
    padding:0% ;
  
}

#main{
  background-image: url("https://wallpapercave.com/wp/wp5162474.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.nav{
    display: flex;
    /* margin-top: 25px; */
    justify-content: space-between;
    cursor: pointer;
}
.first{
    color:whitesmoke;
    padding-left:20px ;
    margin-top: 15px;
}
.second{
    display: flex;
    gap: 15px;
    color: whitesmoke;
    padding-right: 20px;
    margin-top: 15px;

}
.button{
    background-color: orange;
  color:whitesmoke;
  /* padding: 12px 25px; */
  border: 1px solid orange;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  width: 150px;
  /* margin-left: 700px; */
  margin-top: 30px;
}
.button:hover{
    background-color: rgb(172, 135, 67);
    border-color: rgb(172, 135, 67);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    color: whitesmoke;

}
.head{
    /* display: flex;
    text-align: center;
    margin-top: 200px; */
    
}
.main{
    /* display: flex;
    text-align: center; */
}